.buttonSubscribe {
    background-color: #363636;
    width: 100%;
    font-size: 18px;
    color:#fff;
    text-align: center;
    font-family: GothamPro,Verdana;
    font-weight: 400;
    padding: 10px 0;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
    height: 45px;
    margin: 15px 0;
}
.goodsHistory2 {
    background:
    #fff;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 10;
    display: none;
    width: 372px;
    padding: 0 20px;
    border: 1px solid
    #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}